p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Colours of MarkerClusters: override default css for marker clusters:*/

/* this colour is for the clustermarker border.*/
.marker-cluster-small {
	background-color: rgba(231,127,148) !important;
	/*'important' makes override clear.*/
	}
/* the 'div' colour is for the filling of the cluster.*/
.marker-cluster-small div {
	background-color: rgba(231,127,148) !important;
	}

.marker-cluster-medium {
	background-color: rgba(231,127,148) !important;
	}
.marker-cluster-medium div {
	background-color: rgba(231,127,148) !important;
	}

.marker-cluster-large {
	background-color: rgba(231,127,148) !important;
	}
.marker-cluster-large div {
	background-color: rgba(231,127,148) !important;
	}

/* style of labels (popups on mouse hover): */
.leaflet-tooltip {
  color: #2C0D4E;
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  border-color: #8f8f9d;
  background-color: #e8e8f7;
  width: max-width;
  white-space: normal;
}